#packages needed for Wealth Mgmt app
#(a variety of packages were deliberately used in order to provide experience for the author)

pandas
python-dotenv
requests
sendgrid==6.0.5
altair
altair_viewer
plotly
scipy
tkinter

